* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

body {
    background: #bdc3c7;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 5%;
    background: #fff;
    width: 300px;
    height: 550px;
    margin-bottom: 20px;

    animation: fade 1s;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-35px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.image h4 {
    font-weight: 200;
}

.image h1 {
    font-weight: 600;
}

.container .image {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    /* background: url(./Background.png) no-repeat; */
    background: #3498db;
}

.login-credentials {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.credential-Input {
    width: 100%;
    margin-top: 20px;
}

.credential-Input label {
    margin: 20px;
    font-size: 16px;
    color: #2980b9;
    font-weight: 400;
}

.inputs {
    margin-left: 20px;
    width: 255px;
    height: 35px;
    background: none;
    border: none;
    border-bottom: 1px solid grey;
}

.btn_sub {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn_sub button {
    width: 255px;
    height: 40px;
    font-size: 18px;
    border: none;
    border: 2px solid #3498db;
    background: #3498db;
    color: #fff;
    border-radius: 20px;
    transition: 0.25s;
}

.btn_sub button:hover {
    background: none;
    color: black;
    cursor: pointer;
}

.btn_sub  a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.btn_sub #btn-cadastrar {
    margin-top: 10px;
    background: none;
    color: black;
}

.btn_sub #btn-cadastrar:hover {
    color: white;
    background: #3498db;
    cursor: pointer;
}